In [4]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.model_selection import learning_curve
from sklearn.model_selection import train_test_split

In [34]:
df = pd.read_csv('../raw_data/datos.csv', delimiter = ";")

/var/folders/jt/ljcpcwg95nv566n6vzs4822m0000gn/T/ipykernel_47487/2428196936.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../raw_data/datos.csv', delimiter = ";")

In [8]:
df

,ContadorBajasCCC,ContadorBajasDNI,sexo,cnae,icd9,recaida,numtreb,codipostal,ContadordiasBajasDNI,contracte,grupcoti,pluriempleo,diasemana,tiempo_en_empresa,edad,duracion_baja,mes_baja,epiweek
0,17664,30,2,5110,009.3,0,3187,08037,224,420,2,0,7,0.51,27.2,2,12,51
1,17664,5,2,5110,787.01,0,3187,39006,12,420,2,0,4,1.41,31.8,1,12,52
2,17664,17,2,5110,462,0,3187,38360,46,420,2,0,4,0.54,20.5,1,12,52
3,17664,16,2,5110,460,0,3187,08830,49,100,2,0,4,2.53,30.6,3,12,52
4,17664,7,1,5110,462,0,3187,02001,548,189,1,0,5,6.16,32.4,2,12,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257755,41,9,2,8121,784.0,0,8,08020,21,200,10,0,7,1.99,44.9,1,1,53
257756,36,13,2,9319,525.8,0,0,08901,223,289,7,1,7,9.68,45.1,1,1,53
257757,9,13,2,5630,525.8,0,0,08901,223,200,8,1,7,3.75,45.1,1,1,53
257758,1,1,2,9700,053.9,0,1,08028,1,200,0,0,7,4.26,36.5,1,1,53
257759,4778,5,2,5610,729.5,0,1106,08223,12,289,6,0,6,2.12,20.7,1,1,53

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257760 entries, 0 to 257759
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ContadorBajasCCC      257760 non-null  int64
 1   ContadorBajasDNI      257760 non-null  int64
 2   sexo                  257760 non-null  int64
 3   cnae                  257760 non-null  int64
 4   icd9                  257760 non-null  object
 5   recaida               257760 non-null  int64
 6   numtreb               257760 non-null  int64
 7   codipostal            257760 non-null  object
 8   ContadordiasBajasDNI  257760 non-null  int64
 9   contracte             257760 non-null  object
 10  grupcoti              257760 non-null  object
 11  pluriempleo           257760 non-null  int64
 12  diasemana             257760 non-null  int64
 13  tiempo_en_empresa     257760 non-null  float64
 14  edad                  257760 non-null  float64
 15  duracion_baja         257760 non-null  int64
 16  mes_baja              257760 non-null  int64
 17  epiweek               257760 non-null  int64
dtypes: float64(2), int64(12), object(4)
memory usage: 35.4+ MB

In [110]:
df[df.duplicated(keep = False)].sort_values(['cnae', 'icd9', 'tiempo_en_empresa']).tail(50)

,ContadorBajasCCC,ContadorBajasDNI,sexo,cnae,icd9,recaida,numtreb,codipostal,ContadordiasBajasDNI,contracte,grupcoti,pluriempleo,diasemana,tiempo_en_empresa,edad,duracion_baja,mes_baja,epiweek
204679,3,9,2,9700,724.3,0,1,08203,104,200,0,0,6,8.36,36.6,14,11,45
204683,3,9,2,9700,724.3,0,1,08203,104,200,0,0,6,8.36,36.6,14,11,45
249721,2,3,2,9700,724.3,0,1,08211,71,501,0,1,4,8.62,51.7,35,2,6
249722,2,3,2,9700,724.3,0,1,08211,71,501,0,1,4,8.62,51.7,35,2,6
202540,3,7,2,9700,724.5,0,1,08227,253,200,0,1,2,7.02,60.4,4,7,28
202547,3,7,2,9700,724.5,0,1,08227,253,200,0,1,2,7.02,60.4,4,7,28
180125,8,8,2,9700,726,0,1,27600,661,100,0,0,4,6.19,54.8,203,9,36
180126,8,8,2,9700,726,0,1,27600,661,100,0,0,4,6.19,54.8,203,9,36
194535,4,4,2,9700,726.32,1,1,17800,383,200,0,0,3,5.26,49.3,318,9,36
194536,4,4,2,9700,726.32,1,1,17800,383,200,0,0,3,5.26,49.3,318,9,36
203138,3,5,2,9700,727.03,0,1,08207,353,501,0,1,6,7.54,48.9,78,12,50
203139,3,5,2,9700,727.03,0,1,08207,353,501,0,1,6,7.54,48.9,78,12,50
210336,2,7,2,9700,728.85,0,0,08201,34,200,0,1,3,2.15,62.1,2,5,22
210337,2,7,2,9700,728.85,0,0,08201,34,200,0,1,3,2.15,62.1,2,5,22
250321,3,5,2,9700,728.85,0,0,08192,71,200,0,1,2,7.90,58.7,33,2,6
250322,3,5,2,9700,728.85,0,0,08192,71,200,0,1,2,7.90,58.7,33,2,6
207542,2,2,2,9700,729.1,0,1,28026,367,200,0,0,2,3.67,49.1,366,10,40
207543,2,2,2,9700,729.1,0,1,28026,367,200,0,0,2,3.67,49.1,366,10,40
187398,6,4,2,9700,729.5,1,2,08906,79,100,0,0,4,1.86,44.4,14,6,25
187399,6,4,2,9700,729.5,1,2,08906,79,100,0,0,4,1.86,44.4,14,6,25
175613,10,7,2,9700,780.9,0,2,08021,354,100,0,0,5,3.46,52.9,281,2,8
175614,10,7,2,9700,780.9,0,2,08021,354,100,0,0,5,3.46,52.9,281,2,8
207459,2,2,2,9700,783.21,0,1,08225,366,501,0,0,4,6.02,56.4,365,9,36
207460,2,2,2,9700,783.21,0,1,08225,366,501,0,0,4,6.02,56.4,365,9,36
212645,2,2,2,9700,790.8,0,1,08914,2,501,0,0,6,0.10,35.3,1,3,13
212646,2,2,2,9700,790.8,0,1,08914,2,501,0,0,6,0.10,35.3,1,3,13
203061,3,7,2,9700,799.9,0,0,08540,178,401,0,0,5,0.72,28.5,71,11,48
203062,3,7,2,9700,799.9,0,0,08540,178,401,0,0,5,0.72,28.5,71,11,48
196696,4,8,2,9700,799.9,0,1,08206,511,200,0,1,6,7.41,60.5,102,10,43
196700,4,8,2,9700,799.9,0,1,08206,511,200,0,1,6,7.41,60.5,102,10,43
202965,3,3,2,9700,815.00,0,0,08004,58,501,0,1,5,1.02,42.6,13,11,45
202966,3,3,2,9700,815.00,0,0,08004,58,501,0,1,5,1.02,42.6,13,11,45
212540,2,3,2,9700,824.2,0,1,08191,165,200,0,1,2,1.69,51.4,82,3,11
212541,2,3,2,9700,824.2,0,1,08191,165,200,0,1,2,1.69,51.4,82,3,11
203051,3,6,2,9700,845.00,0,0,08640,616,200,0,1,2,3.73,41.5,30,11,48
203052,3,6,2,9700,845.00,0,0,08640,616,200,0,1,2,3.73,41.5,30,11,48
203994,3,8,2,9700,845.00,0,1,08014,137,289,10,1,6,9.25,64.1,3,2,7
203995,3,8,2,9700,845.00,0,1,08014,137,289,10,1,6,9.25,64.1,3,2,7
204049,3,8,2,9700,845.00,1,1,08014,114,289,10,1,2,9.26,64.1,26,2,8
204050,3,8,2,9700,845.00,1,1,08014,114,289,10,1,2,9.26,64.1,26,2,8
204051,3,8,2,9700,845.00,1,1,08014,114,289,10,1,2,9.26,64.1,26,2,8
204052,3,8,2,9700,845.00,1,1,08014,114,289,10,1,2,9.26,64.1,26,2,8
210503,2,2,2,9700,847.0,0,3,08211,55,100,0,0,2,3.94,33.1,54,7,27
210504,2,2,2,9700,847.0,0,3,08211,55,100,0,0,2,3.94,33.1,54,7,27
213155,1,4,2,9700,879.8,0,1,08227,49,200,0,1,4,3.16,56.2,16,12,52
214286,1,4,2,9700,879.8,0,1,08227,49,200,0,1,4,3.16,56.2,16,12,52
221913,1,2,2,9700,989.9,0,1,08202,4,200,0,1,4,5.50,51.5,3,7,31
221914,1,2,2,9700,989.9,0,1,08202,4,200,0,1,4,5.50,51.5,3,7,31
135189,42,6,1,9900,460,0,15,08780,13,189,3,0,6,7.22,43.4,2,5,20
135190,42,6,1,9900,460,0,15,08780,13,189,3,0,6,7.22,43.4,2,5,20

In [53]:
df.duplicated(keep = False).sum()

13798

In [56]:
df[df['numtreb'] == 0].count()

ContadorBajasCCC        13759
ContadorBajasDNI        13759
sexo                    13759
cnae                    13759
icd9                    13759
recaida                 13759
numtreb                 13759
codipostal              13759
ContadordiasBajasDNI    13759
contracte               13759
grupcoti                13759
pluriempleo             13759
diasemana               13759
tiempo_en_empresa       13759
edad                    13759
duracion_baja           13759
mes_baja                13759
epiweek                 13759
dtype: int64

In [57]:
df.sort_values('numtreb')

,ContadorBajasCCC,ContadorBajasDNI,sexo,cnae,icd9,recaida,numtreb,codipostal,ContadordiasBajasDNI,contracte,grupcoti,pluriempleo,diasemana,tiempo_en_empresa,edad,duracion_baja,mes_baja,epiweek
122231,62,1,1,3312,300.00,0,0,08251,1,100,8,0,5,10.12,35.6,81,3,11
193962,4,1,1,2229,487.1,0,0,08750,1,402,9,0,5,0.56,26.1,2,2,6
193963,4,1,1,4619,487.1,0,0,25002,1,189,7,0,2,0.06,37.1,2,2,7
193968,4,2,2,4332,727.1,0,0,17255,44,200,7,0,6,6.05,49.0,29,2,6
193970,4,2,2,4121,460,0,0,08130,8,200,7,0,3,1.62,24.4,2,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241772,15768,7,2,5110,680,0,3229,08820,56,100,2,0,7,2.17,40.2,11,5,17
241771,15768,1,1,5110,244,0,3229,28042,1,100,1,0,2,1.02,31.9,93,2,6
224446,15768,2,2,5110,718.27,0,3229,08820,3,189,2,0,5,6.16,33.9,93,5,20
224328,15768,7,2,5110,460,0,3229,29640,25,402,2,0,7,0.07,36.7,2,8,33
241072,15768,7,2,5110,724.3,0,3229,08530,83,100,2,0,5,1.21,27.0,30,4,15

In [73]:
df[(df['numtreb'] == 1) & (df['duracion_baja'] > 200)].count()

ContadorBajasCCC        1828
ContadorBajasDNI        1828
sexo                    1828
cnae                    1828
icd9                    1828
recaida                 1828
numtreb                 1828
codipostal              1828
ContadordiasBajasDNI    1828
contracte               1828
grupcoti                1828
pluriempleo             1828
diasemana               1828
tiempo_en_empresa       1828
edad                    1828
duracion_baja           1828
mes_baja                1828
epiweek                 1828
dtype: int64

In [67]:
df[df['duracion_baja'] > 100].sort_values(['duracion_baja'], ascending = False)

,ContadorBajasCCC,ContadorBajasDNI,sexo,cnae,icd9,recaida,numtreb,codipostal,ContadordiasBajasDNI,contracte,grupcoti,pluriempleo,diasemana,tiempo_en_empresa,edad,duracion_baja,mes_baja,epiweek
141541,34,3,1,4941,410.1,0,22,08915,10,189,8,0,5,3.21,61.8,763,9,37
215100,1,1,2,8623,289.89,0,1,08173,1,000,0,0,6,8.82,60.3,704,12,51
177696,9,1,1,2571,300.00,0,3,08223,1,100,8,0,2,1.84,61.7,690,11,45
195770,4,2,1,4321,789.07,0,1,08291,3,150,8,0,7,2.34,48.1,650,2,7
15813,2818,1,1,0,480.2,0,0,43424,1,100,8,0,3,0.23,43.7,595,4,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99735,112,6,2,9312,300.02,0,84,08840,762,300,9,0,2,0.67,54.0,101,4,16
206228,2,2,2,4771,724.3,0,1,08980,102,000,0,0,2,12.60,57.9,101,10,40
99437,113,2,1,4121,553,0,32,08223,68,189,10,0,4,1.64,57.9,101,1,5
137794,39,6,2,7022,780.4,0,26,28031,53,189,5,0,3,15.28,40.3,101,3,11
240230,2,2,1,4619,455.6,0,1,31192,102,000,0,0,4,3.28,42.0,101,2,6

In [104]:
df[df['tiempo_en_empresa'] == 0]

,ContadorBajasCCC,ContadorBajasDNI,sexo,cnae,icd9,recaida,numtreb,codipostal,ContadordiasBajasDNI,contracte,grupcoti,pluriempleo,diasemana,tiempo_en_empresa,edad,duracion_baja,mes_baja,epiweek
239,17664,16,1,5110,487.1,0,3187,08000,55,420,2,0,5,0.0,24.4,5,1,2
531,17664,6,2,5110,640.0,0,3187,28770,181,189,5,0,5,0.0,33.7,16,1,4
857,17664,6,2,5110,463,0,3187,28770,194,189,5,0,4,0.0,33.8,3,3,10
2154,17664,10,2,5110,599.0,0,3187,41015,27,420,2,0,1,0.0,25.8,1,7,27
3205,17664,6,2,5110,644.1,0,3187,28770,151,189,5,0,5,0.0,34.2,46,7,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256307,773,4,1,2932,799.9,0,185,50270,732,200,9,0,7,0.0,43.1,1,1,3
257292,3175,7,1,0,799.9,1,0,08014,23,-,1,0,3,0.0,21.3,1,1,2
257457,3175,3,1,0,799.9,1,0,25250,7,-,1,0,5,0.0,25.3,3,1,1
257503,255,15,1,3299,799.9,0,45,08223,430,401,10,0,5,0.0,36.9,2,1,1
257628,3175,3,1,0,799.9,0,0,25250,7,-,1,0,2,0.0,25.3,3,1,1

In [106]:
df.sort_values('duracion_baja')

,ContadorBajasCCC,ContadorBajasDNI,sexo,cnae,icd9,recaida,numtreb,codipostal,ContadordiasBajasDNI,contracte,grupcoti,pluriempleo,diasemana,tiempo_en_empresa,edad,duracion_baja,mes_baja,epiweek
128879,49,8,1,4941,009.3,0,13,08760,17,401,9,0,2,2.06,44.3,1,1,4
97797,116,25,1,4520,558.9,0,0,08902,87,189,8,0,6,7.95,57.6,1,3,9
97806,116,3,1,4520,009.3,0,0,08840,117,100,8,0,4,3.08,35.7,1,3,12
97808,116,2,1,7219,726.32,0,56,08830,5,289,8,0,4,0.35,39.1,1,3,12
97816,116,25,1,4520,558.9,0,0,08902,87,189,8,0,6,8.05,57.7,1,4,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15813,2818,1,1,0,480.2,0,0,43424,1,100,8,0,3,0.23,43.7,595,4,14
195770,4,2,1,4321,789.07,0,1,08291,3,150,8,0,7,2.34,48.1,650,2,7
177696,9,1,1,2571,300.00,0,3,08223,1,100,8,0,2,1.84,61.7,690,11,45
215100,1,1,2,8623,289.89,0,1,08173,1,000,0,0,6,8.82,60.3,704,12,51
141541,34,3,1,4941,410.1,0,22,08915,10,189,8,0,5,3.21,61.8,763,9,37

In [95]:
df[df['contracte'] == '-'].count()

ContadorBajasCCC        3156
ContadorBajasDNI        3156
sexo                    3156
cnae                    3156
icd9                    3156
recaida                 3156
numtreb                 3156
codipostal              3156
ContadordiasBajasDNI    3156
contracte               3156
grupcoti                3156
pluriempleo             3156
diasemana               3156
tiempo_en_empresa       3156
edad                    3156
duracion_baja           3156
mes_baja                3156
epiweek                 3156
dtype: int64

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257760 entries, 0 to 257759
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ContadorBajasCCC      257760 non-null  int64
 1   ContadorBajasDNI      257760 non-null  int64
 2   sexo                  257760 non-null  int64
 3   cnae                  257760 non-null  int64
 4   icd9                  257760 non-null  object
 5   recaida               257760 non-null  int64
 6   numtreb               257760 non-null  int64
 7   codipostal            257760 non-null  object
 8   ContadordiasBajasDNI  257760 non-null  int64
 9   contracte             257760 non-null  object
 10  grupcoti              257760 non-null  object
 11  pluriempleo           257760 non-null  int64
 12  diasemana             257760 non-null  int64
 13  tiempo_en_empresa     257760 non-null  float64
 14  edad                  257760 non-null  float64
 15  duracion_baja         257760 non-null  int64
 16  mes_baja              257760 non-null  int64
 17  epiweek               257760 non-null  int64
dtypes: float64(2), int64(12), object(4)
memory usage: 35.4+ MB

In [7]:
df = df.drop_duplicates()

In [8]:
df

,ContadorBajasCCC,ContadorBajasDNI,sexo,cnae,icd9,recaida,numtreb,codipostal,ContadordiasBajasDNI,contracte,grupcoti,pluriempleo,diasemana,tiempo_en_empresa,edad,duracion_baja,mes_baja,epiweek
0,17664,30,2,5110,009.3,0,3187,08037,224,420,2,0,7,0.51,27.2,2,12,51
1,17664,5,2,5110,787.01,0,3187,39006,12,420,2,0,4,1.41,31.8,1,12,52
2,17664,17,2,5110,462,0,3187,38360,46,420,2,0,4,0.54,20.5,1,12,52
3,17664,16,2,5110,460,0,3187,08830,49,100,2,0,4,2.53,30.6,3,12,52
4,17664,7,1,5110,462,0,3187,02001,548,189,1,0,5,6.16,32.4,2,12,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257755,41,9,2,8121,784.0,0,8,08020,21,200,10,0,7,1.99,44.9,1,1,53
257756,36,13,2,9319,525.8,0,0,08901,223,289,7,1,7,9.68,45.1,1,1,53
257757,9,13,2,5630,525.8,0,0,08901,223,200,8,1,7,3.75,45.1,1,1,53
257758,1,1,2,9700,053.9,0,1,08028,1,200,0,0,7,4.26,36.5,1,1,53
257759,4778,5,2,5610,729.5,0,1106,08223,12,289,6,0,6,2.12,20.7,1,1,53

In [26]:
df.sort_values('edad')

,ContadorBajasCCC,ContadorBajasDNI,sexo,cnae,icd9,recaida,numtreb,codipostal,ContadordiasBajasDNI,contracte,grupcoti,pluriempleo,diasemana,tiempo_en_empresa,edad,duracion_baja,mes_baja,epiweek
254491,255,2,2,2899,722.10,0,147,08183,12,401,10,0,3,1.73,16.1,9,2,5
184166,7,2,2,5530,463,0,12,17800,2,502,11,0,1,0.06,16.1,1,7,28
184165,7,2,2,5530,463,0,12,17800,2,502,11,0,1,0.06,16.1,1,7,28
256182,255,2,2,2899,724.2,0,147,08183,10,401,10,0,6,1.68,16.1,11,1,2
174238,11,4,1,2221,799.9,0,6,08224,6,189,11,0,3,0.08,16.2,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215580,1,1,1,5630,724.3,0,0,17800,1,100,8,0,4,4.47,73.7,31,5,22
163241,17,3,2,5630,366.9,0,13,48940,74,100,8,0,3,15.36,73.8,14,2,8
214869,1,1,1,7740,413.9,0,1,17220,1,000,0,0,3,2.85,73.9,163,11,45
189134,5,5,2,7311,354.0,0,1,25124,625,-,1,0,4,2.68,73.9,57,9,36
163330,17,3,2,5630,924.8,0,13,48940,53,100,8,0,5,15.50,74.0,35,4,15

In [35]:
index1 = df[ (df['numtreb'] == 0)].index
df.drop(index1 , inplace=True)
index2 = df[  (df['contracte'] == '-') ].index
df.drop(index2 , inplace=True)

In [36]:

index3 = df[ (df['cnae'] == 0) ].index
df.drop(index3 , inplace=True)
index4 = df[  (df['codipostal'] == '-')].index
df.drop(index4 , inplace=True)
index5 = df[ (df['tiempo_en_empresa'] == 0.00)].index
df.drop(index5 , inplace=True)

In [61]:
index6 = df[ (df['grupcoti'] == '-')].index
df.drop(index6 , inplace=True)

In [62]:
df.sort_values('icd9')

,ContadorBajasCCC,ContadorBajasDNI,sexo,cnae,icd9,recaida,numtreb,codipostal,ContadordiasBajasDNI,contracte,grupcoti,pluriempleo,diasemana,tiempo_en_empresa,edad,duracion_baja,mes_baja,epiweek
145900,30,1,2,5590,00.34,0,17,41010,1,402,8,0,7,0.73,24.8,18,3,12
183477,7,2,1,3109,00.9,0,6,02651,61,100,9,0,2,9.07,27.8,22,1,2
78141,191,2,2,5630,00.9,0,64,08012,8,100,3,0,4,3.53,36.8,36,1,5
235280,2,2,2,4773,002.9,0,3,25283,6,502,1,0,4,0.67,24.3,10,6,23
134920,42,1,1,7490,003.0,0,56,28003,1,100,1,0,2,1.38,33.2,4,10,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93644,129,9,1,4632,V76.89,0,57,08291,532,402,6,0,5,0.20,49.9,235,12,52
132824,45,3,1,7022,V79.0,0,34,45005,64,189,7,0,2,0.05,31.8,40,2,6
132886,45,3,1,7022,V79.0,1,34,45005,81,189,7,0,2,0.17,31.9,23,3,12
201867,3,2,2,4729,V90.83,0,4,17467,48,189,7,0,2,7.00,54.3,47,1,5
132149,46,1,2,2229,V91.09,0,52,03420,1,100,7,0,6,12.02,36.2,77,7,27

In [82]:
df_2 = df.sort_values('icd9').head(50000)

In [83]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 145900 to 180564
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ContadorBajasCCC      50000 non-null  int64
 1   ContadorBajasDNI      50000 non-null  int64
 2   sexo                  50000 non-null  int64
 3   cnae                  50000 non-null  int64
 4   icd9                  50000 non-null  object
 5   recaida               50000 non-null  int64
 6   numtreb               50000 non-null  int64
 7   codipostal            50000 non-null  object
 8   ContadordiasBajasDNI  50000 non-null  int64
 9   contracte             50000 non-null  object
 10  grupcoti              50000 non-null  object
 11  pluriempleo           50000 non-null  int64
 12  diasemana             50000 non-null  int64
 13  tiempo_en_empresa     50000 non-null  float64
 14  edad                  50000 non-null  float64
 15  duracion_baja         50000 non-null  int64
 16  mes_baja              50000 non-null  int64
 17  epiweek               50000 non-null  int64
dtypes: float64(2), int64(12), object(4)
memory usage: 7.2+ MB

In [84]:
df_2['icd9'] = pd.to_numeric(df_2['icd9'])

In [85]:
df_2['codipostal'] = pd.to_numeric(df_2['codipostal'])

In [86]:
df_2['contracte'] = pd.to_numeric(df_2['contracte'])

In [87]:
df_2['grupcoti'] = pd.to_numeric(df_2['grupcoti'])

In [88]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 145900 to 180564
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ContadorBajasCCC      50000 non-null  int64
 1   ContadorBajasDNI      50000 non-null  int64
 2   sexo                  50000 non-null  int64
 3   cnae                  50000 non-null  int64
 4   icd9                  50000 non-null  float64
 5   recaida               50000 non-null  int64
 6   numtreb               50000 non-null  int64
 7   codipostal            50000 non-null  int64
 8   ContadordiasBajasDNI  50000 non-null  int64
 9   contracte             50000 non-null  int64
 10  grupcoti              50000 non-null  int64
 11  pluriempleo           50000 non-null  int64
 12  diasemana             50000 non-null  int64
 13  tiempo_en_empresa     50000 non-null  float64
 14  edad                  50000 non-null  float64
 15  duracion_baja         50000 non-null  int64
 16  mes_baja              50000 non-null  int64
 17  epiweek               50000 non-null  int64
dtypes: float64(3), int64(15)
memory usage: 7.2 MB

In [89]:
X = df_2.drop(columns = ['duracion_baja'])

In [90]:
y = df_2["duracion_baja"]

In [95]:
model = LinearRegression()

In [226]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [240]:
X_train = X.head(30000)
y_train = y.head(30000)

In [241]:
X_test = X.tail(20000)

In [98]:
cv_results = cross_validate(model, X_train, y_train, cv = 5)
cv_results['test_score']

array([0.22799776, 0.23668998, 0.23351258, 0.2455929 , 0.24056772])

In [242]:
model.fit(X_train, y_train)

LinearRegression()

In [244]:
X_test.iloc[[0]]

,ContadorBajasCCC,ContadorBajasDNI,sexo,cnae,icd9,recaida,numtreb,codipostal,ContadordiasBajasDNI,contracte,grupcoti,pluriempleo,diasemana,tiempo_en_empresa,edad,mes_baja,epiweek
226195,4,2,2,4759,218.9,0,6,17251,122,189,9,0,6,4.03,48.0,4,14

In [245]:
prediction = model.predict(X_test.iloc[[0]])
prediction

array([73.84707137])

In [216]:
X_0 = list(X_test.iloc[0].values)
X_0

[185.0,
 1.0,
 2.0,
 2014.0,
 79.0,
 0.0,
 69.0,
 8640.0,
 1.0,
 189.0,
 2.0,
 0.0,
 3.0,
 4.1,
 25.0,
 3.0,
 11.0]

In [199]:
X_test.columns

Index(['ContadorBajasCCC', 'ContadorBajasDNI', 'sexo', 'cnae', 'icd9',
       'recaida', 'numtreb', 'codipostal', 'ContadordiasBajasDNI', 'contracte',
       'grupcoti', 'pluriempleo', 'diasemana', 'tiempo_en_empresa', 'edad',
       'mes_baja', 'epiweek'],
      dtype='object')

In [171]:
test_values = np.array(X_test.iloc[0].values)
test_values

array([1.850e+02, 1.000e+00, 2.000e+00, 2.014e+03, 7.900e+01, 0.000e+00,
       6.900e+01, 8.640e+03, 1.000e+00, 1.890e+02, 2.000e+00, 0.000e+00,
       3.000e+00, 4.100e+00, 2.500e+01, 3.000e+00, 1.100e+01])

In [172]:
test_keys = np.array(X_test.columns)
test_keys

array(['ContadorBajasCCC', 'ContadorBajasDNI', 'sexo', 'cnae', 'icd9',
       'recaida', 'numtreb', 'codipostal', 'ContadordiasBajasDNI',
       'contracte', 'grupcoti', 'pluriempleo', 'diasemana',
       'tiempo_en_empresa', 'edad', 'mes_baja', 'epiweek'], dtype=object)

In [175]:
features = {test_keys[i]: test_values[i] for i in range(len(test_keys))}

In [201]:
features.keys()

dict_keys(['ContadorBajasCCC', 'ContadorBajasDNI', 'sexo', 'cnae', 'icd9', 'recaida', 'numtreb', 'codipostal', 'ContadordiasBajasDNI', 'contracte', 'grupcoti', 'pluriempleo', 'diasemana', 'tiempo_en_empresa', 'edad', 'mes_baja', 'epiweek'])

In [196]:
[[pd.Series(features.values())]]

[[0      185.0
  1        1.0
  2        2.0
  3     2014.0
  4       79.0
  5        0.0
  6       69.0
  7     8640.0
  8        1.0
  9      189.0
  10       2.0
  11       0.0
  12       3.0
  13       4.1
  14      25.0
  15       3.0
  16      11.0
  dtype: float64]]

In [197]:
from fastapi import FastAPI
from fastapi.middleware.cors import CORSMiddleware
import os

In [110]:
app = FastAPI()

In [220]:
# Define a root `/` endpoint
@app.get('/')
def index():
    return {'greeting': 'Hello'}

In [210]:
DTYPES_RAW_OPTIMIZED = {
    "key": "O",
    "ContadorBajasCCC": "int64",
    "ContadorBajasDNI": "int64",
    "sexo": "int64",
    "cnae": "int64",
    "icd9": "float64",
    "recaida": "int64",
    "numtreb": "int64",
    "codipostal": "int64",
    "ContadordiasBajasDNI": "int64",
    "contracte": "int64",
    "grupcoti": "int64",
    "pluriempleo": "int64",
    "diasemana": "int64",
    "tiempo_en_empresa": "float64",
    "edad": "float64",
    "mes_baja": "int64",
    "epiweek": "int64"
}

In [211]:
COLUMN_NAMES_RAW = DTYPES_RAW_OPTIMIZED.keys()

In [212]:
COLUMN_NAMES_RAW

dict_keys(['key', 'ContadorBajasCCC', 'ContadorBajasDNI', 'sexo', 'cnae', 'icd9', 'recaida', 'numtreb', 'codipostal', 'ContadordiasBajasDNI', 'contracte', 'grupcoti', 'pluriempleo', 'diasemana', 'tiempo_en_empresa', 'edad', 'mes_baja', 'epiweek'])

In [218]:
# Define a prediction `/` endpoint
@app.get('/predict')
def predict(ContadorBajasCCC: int,
            ContadorBajasDNI: int,
            sexo: int,
            cnae: int,
            icd9: float,
            recaida: int,
            numtreb: int,
            codipostal: int,
            ContadordiasBajasDNI: int,
            contracte: int,
            grupcoti: int,
            pluriempleo: int,
            diasemana: int,
            tiempo_en_empresa: float,
            edad: float,
            mes_baja: int,
            epiweek: int):
    """
    we use type hinting to indicate the data types expected
    for the parameters of the function
    FastAPI uses this information in order to hand errors
    to the developpers providing incompatible parameters
    FastAPI also provides variables of the expected data type to use
    without type hinting we need to manually convert
    the parameters of the functions which are all received as strings
    """
    key = ContadorBajasCCC
    X_new = pd.DataFrame([key, ContadorBajasCCC, ContadorBajasDNI, sexo, cnae, icd9,
       recaida, numtreb, codipostal, ContadordiasBajasDNI,
       contracte, grupcoti, pluriempleo, diasemana,
       tiempo_en_empresa, edad, mes_baja, epiweek]).T
    X_new.columns = COLUMN_NAMES_RAW
    X_new = X_new.astype(DTYPES_RAW_OPTIMIZED)
    # X_new = preprocess_features(X_new)
    y_pred = float(model.predict(X_new))
    
    return {'fare_amount': y_pred}

In [5]:
df = pd.read_csv('~/code/jaimesoroa/smarthealing/raw_data/datos.csv', delimiter = ";")
df = df.drop_duplicates()
index1 = df[ (df['numtreb'] == 0)].index
df.drop(index1 , inplace=True)
index2 = df[  (df['contracte'] == '-') ].index
df.drop(index2 , inplace=True)
index3 = df[ (df['cnae'] == 0) ].index
df.drop(index3 , inplace=True)
index4 = df[  (df['codipostal'] == '-')].index
df.drop(index4 , inplace=True)
index5 = df[ (df['tiempo_en_empresa'] == 0.00)].index
df.drop(index5 , inplace=True)
index6 = df[ (df['grupcoti'] == '-')].index
df.drop(index6 , inplace=True)
df_2 = df.sort_values('icd9').head(50000)
df_2['icd9'] = pd.to_numeric(df_2['icd9'])
df_2['codipostal'] = pd.to_numeric(df_2['codipostal'])
df_2['contracte'] = pd.to_numeric(df_2['contracte'])
df_2['grupcoti'] = pd.to_numeric(df_2['grupcoti'])
X = df_2.drop(columns = ['duracion_baja'])
y = df_2["duracion_baja"]
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
X_train = X.head(30000)
y_train = y.head(30000)
X_test = X.tail(20000)

/var/folders/jt/ljcpcwg95nv566n6vzs4822m0000gn/T/ipykernel_5700/2821862080.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('~/code/jaimesoroa/smarthealing/raw_data/datos.csv', delimiter = ";")

In [6]:
model = LinearRegression()
model_fit = model.fit(X_train, y_train)

In [7]:
pred_2 = model_fit.predict(X_test.iloc[[0]])
pred_2

array([67.17282546])

In [12]:
X_test.iloc[[0]]

,ContadorBajasCCC,ContadorBajasDNI,sexo,cnae,icd9,recaida,numtreb,codipostal,ContadordiasBajasDNI,contracte,grupcoti,pluriempleo,diasemana,tiempo_en_empresa,edad,mes_baja,epiweek
217511,1,1,2,8623,227.3,0,1,8037,1,0,8,0,2,13.32,64.9,7,30

In [13]:
pred_3 = model_fit.predict(X_test.iloc[[50]])
pred_3

array([63.68743483])

In [14]:
X_test.iloc[[50]]

,ContadorBajasCCC,ContadorBajasDNI,sexo,cnae,icd9,recaida,numtreb,codipostal,ContadordiasBajasDNI,contracte,grupcoti,pluriempleo,diasemana,tiempo_en_empresa,edad,mes_baja,epiweek
8709,17664,1,1,5110,232.0,0,3187,8860,1,100,7,0,6,13.67,39.9,11,47